{# _components/_organisms/intro/intro.twig #}

{#
   Intro
   Homepage Introduction
   @param {Array} captions
      {
         left {String}
         right {String}
      }
   @param {Post Object} post
   {
      Mixed
   }
   @param {Array} social_media
      {
         icon {String}
         link {String}
      }
#}

{# Parameters #}
{% set introCaptions = captions ?? null %}
{% set introPost = post ?? null %}
{% set introSubtitle = subtitle ?? null %}
{% set introSocialMedia = social_media ?? null %}

{# Variables #}

{# Output #}
{% import 'macros.twig' as mcro %}

<div class="intro">

   <!-- <div class="intro__rect"></div> -->

   <div class="intro__header">

      <div class="intro__top">
         {{ mcro.createHTMLTag('h3', {}, [{block:'intro', element: 'caption', modifier: ['left']}], introCaptions.left) }}

         <div class="intro__logo">
            {% include '_atoms/icon/icon.twig' with { icon: 'icon-logo' } %}
            {{ mcro.createHTMLTag('h1', {}, [{block: 'intro', element: 'name'}], 'SHERLOCK') }}
         </div>

         {{ mcro.createHTMLTag('h3', {}, [{block:'intro', element: 'caption', modifier: ['right']}], introCaptions.right) }}
      </div>


   </div>

   <div class="intro__content">

      <div class="intro__content-inner">

         <div class="typography">
            {{ introSubtitle }}
         </div>

         {% embed '_molecules/heading--prefix/heading--prefix.twig' with { bem: [], attrs: {} } %}
            {% block prefix %}
               <div class="prefix--line"></div>
            {% endblock %}
            {% block heading %}
               <div >
                  {% include '_organisms/social-icons/social-icons.twig' with { icons: introSocialMedia } %}
               </div>
            {% endblock %}
         {% endembed %}


         <div class="typography">
            {{ introPost.content }}
         </div>
      </div>

   </div>

</div>
